In [1]:
!pip install --upgrade pandas
!pip install --upgrade sqlalchemy

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.23)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.0.2)

In [2]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.10/dist-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /usr/local/lib/python3.10/dist-packages (from mysql-connector-python) (4.21.12)

In [3]:
import mysql.connector
from sqlalchemy import create_engine
import pandas as pd

# Configuración de la conexión MySQL
mysql_config = {
    'host': 'localhost',
    'user': 'root',
    'password': 'siempreeshoy12',
    'database': 'facultad'
}

# Crear conexión MySQL
mydb = mysql.connector.connect(**mysql_config)

# Crear motor de SQLAlchemy
engine = create_engine(f"mysql+mysqlconnector://{mysql_config['user']}:{mysql_config['password']}@{mysql_config['host']}:3306/{mysql_config['database']}")

# Consultar la tabla "estudiantes" y cargar los datos en un DataFrame
query = 'SELECT * FROM estudiantes'
df_alumnos = pd.read_sql(query, con=engine)

# Cerrar la conexión MySQL
mydb.close()

# Ahora df_alumnos contiene los datos de la tabla "estudiantes"
print(df_alumnos)

DatabaseError: ignored